/* Dashboard.module.css */

.pageContainer {
    background-color: #ffffff;
    color: #333;
    font-family: 'Playfair Display', serif;
    max-width: 100%;
}

/* Header Styles */
.header {
    width: 100%;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    position: absolute;
    left: 4%;
    top: 45px;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.arrow {
    position: absolute;
    top: 16%;
    width: 70%;
    height: 10%;
    background-color: #5b5b5b;
    animation: arrow 700ms linear infinite;
    border-radius: 1px;
}

.arrow::after,
.arrow::before {
    content: '';
    position: absolute;
    width: 60%;
    height: 100%;
    left: -9%;
    background-color: #5b5b5b;
}

.arrow::after {
    top: -133%;
    transform: rotate(135deg);
}

.arrow::before {
    top: 133%;
    transform: rotate(45deg);
}

.grayDot {
    width: 40px;
    /* Larger size */
    height: 40px;
    /* Larger size */
    background-color: #ccc;
    border-radius: 50%;
}

/* Gray Cutoff Line */
.cutoffLine {
    height: 2px;
    background-color: #ccc;
    margin-bottom: 20px;
}

.navBar {
    margin-left: 7%;
    margin-bottom: 20px;
    padding-left: 20px;
}

.label {
    border-left: 4px solid #202d3c;
    padding-left: 10px;
    border-radius: 2px;
    font-size: 0.8rem;
}

.predictionPeriod {
    margin-top: 10px;
    display: flex;
    gap: 20px;
}

.predictionButton {
    padding: 4px;
    font-size: 0.7rem;
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.05);
    border-radius: 7px;
    width: 14%;
    border: none;
    cursor: pointer;
    font-family: 'Playfair Display', serif;
}

.selected {
    font-family: 'Playfair Display', serif;
    background-color: #202d3c;
    color: white;
}

.body {
    margin: 0;
    padding: 0;
    padding-left: 7%;
    padding-right: 7%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start; /* Changed from center to flex-start */
    background-color: #ffffff;
    height: 100vh;
    gap: 25px;
    flex-wrap: wrap; /* Prevents overflow on smaller screens */
}

.col {
    display: flex;
    flex-direction: column;
    flex: 1; /* Allows columns to grow evenly */
    gap: 20px;
    min-width: 250px; /* Ensures columns don't get too narrow */
}

.row {
    display: flex;
}