/* FileUpload.module.css */

/* Container for the file upload section */
.fileUploadContainer {
    width: 100%;
    max-width: 800px;
    padding: 30px;
    padding-bottom: 0;
    font-weight: 800;
}

/* Wrapper for file upload area */
.fileUpload {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

/* Styling for the input file field */
.fileInput {
    display: none;
}

/* Style for drag-and-drop or clickable upload area */
.dragArea {
    width: 100%;
    padding: 20px;
    border: 2px dashed #ccc;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    background-color: #0000000a;
    color: #777;
    font-size: 1rem;
}

.dragArea span{
    padding: 10px;
}

/* Styling for buttons */
.uploadButton,
.submitButton,
.submitDescriptionButton,
.submitAllButton,
.clearAllButton {
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #202d3c;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 0.8rem;
    font-weight: 800;
    width: 100%;
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
}

.uploadButton:hover,
.submitButton:hover,
.submitDescriptionButton:hover,
.submitAllButton:hover,
.clearAllButton:hover {
    background-color: #202d3c9a;
}

.urlSection {
    display: flex;
    height: 40px;
    margin-bottom: 20px;
}

.submitButton {
    padding: 5px 20px;
}

/* Styling for the URL input field */
.urlInput {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    margin-top: 10px;
    margin-right: 10px;
    font-family: 'Playfair Display', serif;
}

/* Styling for the description input field */
.descriptionInput {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    height: 100px;
    font-family: 'Playfair Display', serif;
}

/* File list section */
.table {
    width: 100%;
    border-collapse: collapse;
    font-family: 'Playfair Display', serif;
    font-size: 0.8rem;
    text-align: left;
    margin-top: 20px;
}

.table tr{
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.table td {
    padding: 5px;
    color: rgb(0, 0, 0);
}

.table th {
    padding: 5px;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 800;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0.05);
}

.tableRow:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.ops {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.submitAllButton {
    text-transform: none;
    padding: 7px 20px;
}

.clearAllButton {   
    padding: 7px 20px;
    text-transform: none;
    background-color: white;
    color: #202d3c;
    border: 2px solid #202d3c;
}