/* ForgetPassword.module.css */
.pageContainer {
    background-color: #ffffff;
    color: #333;
    font-family: 'Playfair Display', serif;
    max-width: 100%;
}

/* Header Styles */
.header {
    width: 100%;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    position: absolute;
    left: 4%;
    top: 45px;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.arrow {
    position: absolute;
    top: 16%;
    width: 70%;
    height: 10%;
    background-color: #5b5b5b;
    animation: arrow 700ms linear infinite;
    border-radius: 1px;
}

.arrow::after,
.arrow::before {
    content: '';
    position: absolute;
    width: 60%;
    height: 100%;
    left: -9%;
    background-color: #5b5b5b;
}

.arrow::after {
    top: -133%;
    transform: rotate(135deg);
}

.arrow::before {
    top: 133%;
    transform: rotate(45deg);
}

/* Gray Cutoff Line */
.cutoffLine {
    height: 2px;
    background-color: #ccc;
    margin-bottom: 20px;
}

/* Content */
.body {
    margin: 0 auto;
    max-width: 100%;
}

.registrationContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;
    margin-top: 8rem;
    max-width: 40%;
}

.maintitle {
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 1.2rem;
    text-align: 'left'
}

.subtitle {
    color: #777;
    margin-bottom: 1.2rem;
    font-size: 1rem;
    text-align: 'left';
}

.label {
    font-size: 0.8rem;
    text-align: left;
    margin: 0;
    line-height: 1;
}

.input {
    width: 100%;
    padding: 14px;
    border-radius: 6px;
    font-size: 14px;
    border: 2px solid #ccc;
    background-color: #fff;
    margin-bottom: 20px;
    margin-top: 7px;
    font-family: 'Playfair Display', serif;
}

.input::placeholder {
    color: #aaaaaa;
}

.continueButton {
    text-transform: uppercase;
    width: 100%;
    padding: 10px 20px;
    border-radius: 40px;
    cursor: pointer;
    font-family: 'Playfair Display', serif;
}

.continueButton:hover {
    background-color: #cccccc;
}

.disabled {
    background-color: #aaaaaa;
    color: #eeeeee;
    cursor: not-allowed;
    border-color: transparent;
}