/* Register.module.css */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:display=swap');

/* General Styles */
.pageContainer {
    background-color: #ffffff;
    color: #333;
    font-family: 'Playfair Display', serif;
    max-width: 100%;
}

/* Header Styles */
.header {
    width: 100%;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    position: absolute;
    left: 4%;
    top: 45px;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.arrow {
    position: absolute;
    top: 16%;
    width: 70%;
    height: 10%;
    background-color: #5b5b5b;
    animation: arrow 700ms linear infinite;
    border-radius: 1px;
}

.arrow::after,
.arrow::before {
    content: '';
    position: absolute;
    width: 60%;
    height: 100%;
    left: -9%;
    background-color: #5b5b5b;
}

.arrow::after {
    top: -133%;
    transform: rotate(135deg);
}

.arrow::before {
    top: 133%;
    transform: rotate(45deg);
}

.grayDot {
    width: 40px;
    /* Larger size */
    height: 40px;
    /* Larger size */
    background-color: #ccc;
    border-radius: 50%;
}

/* Gray Cutoff Line */
.cutoffLine {
    height: 2px;
    background-color: #ccc;
    margin-bottom: 20px;
}

.body {
    font-family: 'Playfair Display', serif;
    margin: 0 auto;
    padding: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    height: 100vh;
    width: 38%;
}

.heading {
    width: 100%;
    text-align: left;
    font-family: 'Playfair Display', sans-serif;
    font-size: 24px;
    color: #000000;
    margin-bottom: 20px;
    margin-top: 60px;
}

.label {
    font-size: 14px;
    width: 100%;
    text-align: left;
    color: #333;
}

.paragraph {
    font-size: 16px;
    color: #bbbbbb;
    margin: 10px 0 20px;
}

.input {
    width: 100%;
    padding: 14px;
    border-radius: 6px;
    font-size: 14px;
    border: 2px solid #ccc;
    background-color: #fff;
    margin-bottom: 20px;
    margin-top: 7px;
    font-family: 'Playfair Display', serif;
}

.input::placeholder {
    color: #aaaaaa;
}

.passwordLabelRow {
    display: flex;
    align-items: center;
    font-size: 14px;
    width: 100%;
    color: #333;
    justify-content: space-between; /* keep them on the same line */
}

.togglePassword {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 14px;
    padding-left: 10px;
    color: #555555;
}

.passwordIcon {
    width: 18px;
    height: 18px;
    margin-right: 5px;
}

.button {
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    border-radius: 40px;
    padding: 12px 0;
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.button:hover {
    background-color: #cccccc;
}

.link {
    color: #000000;
    text-decoration: underline;
}

.link:hover {
    color: #555555;
}

.paragraphCenter {
    text-align: center;
}

.errorBanner {
    position: fixed;
    top: 85px;
    left: 10%;
    width: 80%;
    background-color: rgba(255, 81, 81, 0.514);
    border-radius: 5px;
    color: white;
    padding: 10px 0;
    text-align: center;
    font-size: 18px;
    z-index: 1000;
    opacity: 1;
    transition: opacity 0.5s ease-out;
}

.errorBanner.fadeOut {
    opacity: 0;
}

.errorContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 80%;
    margin: 0 auto;
}

.errorMessage {
    margin: 0;
}

.closeButton {
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}