@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&display=swap');

/* General Styles */
.pageContainer {
    background-color: #ffffff;
    color: #333;
    font-family: 'Playfair Display', serif;
    max-width: 100%;
}

/* Header Styles */
.header {
    width: 100%;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    position: absolute;
    left: 4%;
    top: 45px;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.arrow {
    position: absolute;
    top: 16%;
    width: 70%;
    height: 10%;
    background-color: #5b5b5b;
    animation: arrow 700ms linear infinite;
    border-radius: 1px;
}

.arrow::after,
.arrow::before {
    content: '';
    position: absolute;
    width: 60%;
    height: 100%;
    left: -9%;
    background-color: #5b5b5b;
}

.arrow::after {
    top: -133%;
    transform: rotate(135deg);
}

.arrow::before {
    top: 133%;
    transform: rotate(45deg);
}

.grayDot {
    width: 40px;
    /* Larger size */
    height: 40px;
    /* Larger size */
    background-color: #ccc;
    border-radius: 50%;
}

/* Gray Cutoff Line */
.cutoffLine {
    height: 2px;
    background-color: #ccc;
    margin-bottom: 20px;
}

.body {
    font-family: 'Playfair Display', serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    height: 100vh;
}

/* Header Title */
.headerTitle {
    text-align: center;
    margin-bottom: 40px;
}

.heading {
    font-size: 32px;
    color: #333333;
    margin-bottom: 0;
}

.subtitle {
    font-size: 16px;
    color: #555555;
    margin-top: 0;
}

.link {
    color: #000000;
    text-decoration: underline;
}

.link:hover {
    color: #555555;
}

/* Step Tracker */
.stepTracker {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 20px;
}

.stepItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-right: 80px;
    /* Space between step items */
}

.stepItem:last-child {
    margin-right: 0;
}

/* Gray line between steps */
.stepItem:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 10%;
    left: 61%;
    width: 125%;
    height: 1px;
    background-color: #ccc;
    transform: translateY(-50%);
}

.step {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #dddddd;
    color: #555555;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
}

.stepSubtitle {
    margin-top: 8px;
    font-size: 14px;
    color: #555555;
}

.activeStep {
    /* Step bubble becomes black with white text */
    background-color: #000000;
    color: #ffffff;
}

.activeSubtitle {
    /* Step subtitle if active becomes fully black */
    color: #000000;
}

/* Form */
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

.input {
    width: 650px;
    height: 20px;
    border-radius: 8px;
    border: 2px solid #ccc;
    font-family: 'Playfair Display', serif;
    padding: 10px;
}

.input::placeholder {
    color: #aaaaaa;
}

/* Label above textfields */
.inputComment {
    margin-bottom: 5px;
    font-size: 14px;
    color: #333333;
}

/* Buttons */
.actions {
    display: flex;
    justify-content: space-between;
    width: 670px;
}

.buttonPrimary {
    width: 670px;
    text-align: center;
    border-radius: 40px;
    padding: 12px 0;
    font-family: 'Playfair Display', serif;
    font-size: 16px;
}

.buttonPrimary:hover {
    background-color: #cccccc;
}

.disabled {
    background-color: #aaaaaa;
    color: #eeeeee;
    cursor: not-allowed;
    border: none;
}


.errorBanner {
    position: fixed;
    top: 85px;
    left: 10%;
    width: 80%;
    background-color: rgba(255, 81, 81, 0.514);
    border-radius: 5px;
    color: white;
    padding: 10px 0;
    text-align: center;
    font-size: 18px;
    z-index: 1000;
    opacity: 1;
    transition: opacity 0.5s ease-out;
}

.errorBanner.fadeOut {
    opacity: 0;
    /* Fade the banner */
}

.errorContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 80%;
    margin: 0 auto;
}

.errorMessage {
    margin: 0;
}

.closeButton {
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}