.widget {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    font-weight: 600;
}

.widgetTitle {
    font-family: 'Playfair Display', serif;
    font-size: 1.5rem;
    margin-top: 10px;
}

.widgetValue {
    font-size: 3rem;
}

.widgetComment {
    color: #00000060;
    justify-content: bottom;
    margin-bottom: 20px;
}

.trend {
    color: #47df00;
    color: #ff5656;
    margin-right: 6px;
    font-size: 1.2rem;
}

.chart {
    width: 100%;
    height: auto;
}